<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Cloud Native Maturity Assessment</title> 
    <link th:href="@{/styles/css/main.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/actions.js}"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

    <h1>Cloud Native Maturity Assessment</h1>


    <button type="button">
        <a th:href="@{questionset}">Start Assessment</a>
    </button>

</body>
</html>